/* src/App.css */

.admin-container {
    width: 80%;
    /* margin: auto; */
    padding: 20px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-table th, .admin-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

.admin-table th {
    background-color: #f2f2f2;
}

.admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-table tr:hover {
    background-color: #ddd;
}
