@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h2 {
    all: unset;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59eedd;
    position: sticky;
    top: 0;
    z-index: 20;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
}

nav ul li {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

nav a:hover {
    color: white;
}

nav .menu {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}


/* Responsive styles */

@media (max-width: 768px) {
    nav .menu {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: start;
        padding: 1rem;
    }
    nav ul {
        /* display: none; */
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
    h2 {
        font-weight: 700;
        font-size: 0.8rem;
    }
    nav {
        flex-direction: column;
        align-items: start;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        /* position: absolute; */
        margin-bottom: 0.25rem;
    }
    nav ul .open {
        display: flex;
    }
    .menu-button {
        display: block;
    }
    .open {
        display: flex !important;
    }
}